<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/PreloadingCss/Preloading.css">
    <title>Loading Page with Login Card</title>
</head>
<body>
<div id="loading-container">
    <h2>Loading...</h2>
</div>

<div id="login-card">
    <h2>Login Successful!</h2>
    <!-- Add your login card content here -->
</div>

</body>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js_script/PreloadingJs/Preloading.js"></script>
<script src="/js_script/TokenStorage.js"></script>
</html>